{% extends 'head.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/estilosRegistroAcademico.css">
    <title>Asignaciones Academicas</title>
    <!-- Jquery-->
    <script src='../static/js/jquery-3.6.0.min.js'></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

</head>

<body>
    <!--Se agrega la etiiqueta video el cual será el background de nuesta página-->
    <video src="../static/assets/Video/rojo4.mp4" autoplay="true" muted="true" loop="true" poster=""></video>
    <a style="position: absolute; width: 20%; top: 30px;" class="btn btn-lg btn-warning btn-block btn-danger"
        style="font-size: 15px" href="/asignacionesAcademicas"><strong>←
            SALIR</strong></a>
    <div class="cont-btn-x" style="position: absolute; top: 150px; right: 150px;">
        <a class="btn btn-primary btn-y" href="/registroAcademico">Registrar</a>
    </div>
    <div class="container">
        <hr>
        <div class="row heading heading-icon">
            <h1 class="display-5" style="font-size: 40px; text-align: center !important; font-weight: bold;">
                <img src="../static/assets/Imagen/ciclo.png" width="8%"> Ciclos Academicos
            </h1>
        </div>
        <hr>
        <div class="">
            <table class="table" style="background-color: rgba(114, 0, 0, 0.8); color: black;">
                <thead class="table-dark">
                    <tr>
                        <!--INGRESAMOS LAS VARIABLES QUE VAMOS A RECIBIR-->
                        <th style="width: 165px;" scope="col">ID</th>
                        <th style="width: 100px;" scope="col">CODIGO</th>
                        <th style="width: 100px;" scope="col">PERIODO</th>
                        <th scope="col">INFORMACION</th>
                        <th scope="col">ESTADO</th>
                        <th style="width: 100px;" scope="col"></th>
                        <th style="width: 100px;" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <!--ACCEDEMOS A LA LISTA CON UN FOR-->
                    {% for ciclo in ciclos %}
                    <form action="/editCA/{{ciclo._id}}" method="POST">
                        <tr>
                            <!---->
                            <th>
                                <input type="text" class="form-control" value="{{ciclo._id}}" name="A_id" disabled>
                            </th>
                            <th>
                                <input type="text" class="form-control" value="{{ciclo.codigo}}" name="A_codigo">
                            </th>
                            <th>
                                <input type="text" class="form-control" value="{{ciclo.periodo}}" name="A_periodo">
                            </th>
                            <th>
                                <input type="text" class="form-control" value="{{ciclo.informacion}}" name="A_informacion">
                            </th>
                            <th>
                                <select class="campo-lista form-control" id="A_esta" name="A_estado">
                                    <option value="{{ciclo.estado}}">{{ciclo.estado}}</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </th>
                            <th>
                                <button id="edi" class="btn btn-primary btn-blue"
                                    type="submit">Editar</button>
                            </th>
                            <th>
                                <a href="{{url_for('eliminarRCA', id_ciclo=ciclo._id)}}" id="eli"
                                     class="btn btn-primary btn-red">Eliminar</a>
                            </th>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
    </div>
    <hr>
    <div class="container">
        <hr>
        <div class="row heading heading-icon">
            <h1 class="display-5" style="font-size: 40px; text-align: center !important; font-weight: bold;">
                <img src="../static/assets/Imagen/libros.png" width="8%"> Cursos
            </h1>
        </div>
        <hr>
        <div class="">
            <table class="table" style="background-color: rgba(114, 0, 0, 0.8); color: black;">
                <thead class="table-dark">
                    <tr>
                        <!--INGRESAMOS LAS VARIABLES QUE VAMOS A RECIBIR-->
                        <th style="width: 165px;" scope="col">ID</th>
                        <th style="width: 100px;" scope="col">NIVEL</th>
                        <th scope="col">CURSO</th>
                        <th scope="col">TUTOR</th>
                        <th style="width: 100px;" scope="col">CICLO</th>
                        <th style="width: 100px;" scope="col"></th>
                        <th style="width: 100px;" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--ACCEDEMOS A LA LISTA CON UN FOR-->
                    {% for cursos in curso %}
                    <form action="/editCCA/{{cursos._id}}" method="POST">
                    <tr>
                        <!---->
                        <th>
                            <input type="text" class="form-control" value="{{cursos._id}}" name="A_id" disabled>
                        </th>
                        <th>
                            <input type="text" class="form-control" value="{{cursos.nivel}}" name="A_nivel">
                        </th>
                        <th>
                            <input type="text" class="form-control" value="{{cursos.curso}}" name="A_curso">
                        </th>
                        <th><input type="text" class="form-control" value="{{cursos.tutor}}" name="A_tutor"></th>
                        <th>
                            <select class="campo-lista form-control" name="C_cicloA">
                                <option value="{{cursos.ciclo}}">{{cursos.ciclo}}</option>
                                {% for codigos in codigo %}
                                    <option value="{{codigos}}">{{codigos}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <button id="eli"
                            class="btn btn-danger btn-blue" type="submit">Editar</button>
                        </th>
                        <th>
                            <a href="{{url_for('eliminarRCCA', id_curso=cursos._id)}}" id="eli"
                                class="btn btn-danger btn-red">Eliminar</a>
                        </th>
                    </tr>
                </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
    </div>
    <hr>
    <div class="container">
        <hr>
        <div class="row heading heading-icon">
            <h1 class="display-5" style="font-size: 40px; text-align: center !important; font-weight: bold;">
                <img src="../static/assets/Imagen/libros.png" width="8%"> Materias
            </h1>
        </div>
        <hr>
        <div class="">
            <table class="table" style="background-color: rgba(114, 0, 0, 0.8); color: black;">
                <thead class="table-dark">
                    <tr>
                        <!--INGRESAMOS LAS VARIABLES QUE VAMOS A RECIBIR-->
                        <th style="width: 165px;" scope="col">ID</th>
                        <th style="width: 100px;" scope="col">NRC</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">DOCENTE</th>
                        <th style="width: 100px;" scope="col">CURSO</th>
                        <th style="width: 100px;" scope="col">HORARIO</th>
                        <th style="width: 100px;" scope="col"></th>
                        <th style="width: 100px;" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--ACCEDEMOS A LA LISTA CON UN FOR-->
                    {% for materias in materia %}
                    <form action="/editMA/{{materias._id}}" method="POST">
                    <tr>
                        <!---->
                        <th>
                            <input type="text" class="form-control" value="{{materias._id}}" name="M_id" disabled>
                        </th>
                        <th>
                            <input type="text" class="form-control" value="{{materias.nrc}}" name="M_nrc">
                        </th>
                        <th>
                            <input type="text" class="form-control" value="{{materias.nombre}}" name="M_nombre">
                        </th>
                        <th>
                            <input type="text" class="form-control" value="{{materias.docente}}" name="M_docente">
                        </th>
                        <th>
                            <input type="text" class="form-control" value="{{materias.curso}}" name="M_curso">
                        </th>
                        <th>
                            <select class="campo-lista form-control" id="Mhorario" name="M_horario">
                                <option value="{{materias.horario}}">{{materias.horario}}</option>
                                <option value="07:00h : 09:00h">07:00h : 09:00h</option>
                                <option value="09:00h : 11:00h">09:00h : 11:00h</option>
                                <option value="11:00h : 13:00h">11:00h : 13:00h</option>
                            </select>
                        </th>
                        <th>
                            <button id="eli"
                            class="btn btn-danger btn-blue" type="submit">Editar</button>
                        </th>
                        <th>
                            <a href="{{url_for('eliminarRMA', id_materia=materias._id)}}" id="eli"
                                class="btn btn-danger btn-red">Eliminar</a>
                        </th>
                    </tr>
                </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
    </div>
</body>

</html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='../static/js/script.js'></script>
<script src="{{ url_for('static', filename='js/script-usuarios.js') }}"></script>
<script src='../static/js/script-usuarios.js'></script>

<!-- Jquery-->
<script src='../static/js/jquery-3.6.0.min.js'></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}