/*Estilo body*/
body {
    background-color: rgb(197, 237, 247);
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 15px !important;  
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(145, 34, 34);
    color: white;
}

/*Propiedades del video insertado como background*/
video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/*Estilo de ubicacion y color de tabbla y contenido*/
.sitio {
    padding: 3% !important;
}

table {
    width: 100%;
    border: 1px solid #000;
    text-align: center !important;
}

th,
td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding-top: 5px;
    padding-left: 10px;
    caption-side: bottom;
}

th {
    background: rgb(145, 34, 34);
}

.one{
    width: 25%;
    color: white;
    vertical-align: top;
    padding-top: 1px !important;
}

.two{
    padding: 2%;
    
}

.tree{
    justify-content: center;
}


.color-btn{
    width: 300px!important;
    height: 60px!important;
    font-size: 16px!important;
    padding-top: 16px!important;
}

.color-btn:hover{
    background-color:rgb(145, 34, 34)!important;
}