{% extends 'head.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/css/estilosgame.css">
  <title>Hangman Prueba</title>
</head>

<body>
  <video src="../static/assets/Video/video2.mp4" autoplay="true" muted="true" loop="true" poster=""></video>
  <div class="container1">
    <div class="col" style="position: absolute; width: 10%;">
      <a class="btn btn-lg btn-warning btn-block btn-danger" style="font-size: 15px; z-index: 10;" href="/"><strong>←
          SALIR</strong></a>
    </div>
    <h1 class="text-center"><strong>El ahorcado</strong></h1>
    <br>
    <div class="row" style="top: 120px; width: 250px;">
      <div class="col">
        <div class="float-right" style="color: green;"><b>Respuestas:</b> <span id='mistakes'>0</span> de <span
            id='maxWrong'></span>
        </div>
      </div>
      <div>
        <div class="col">
          {% for user in usuario %}
          <div class="float-right"><b>Usuario:</b> {{user}}</div>
          {% endfor %}
        </div>

        <div class="col">
          {% for nombres in nombre %}
          <div class="float-right"><b>Estudiante:</b> {{nombres.nombre}} {{nombres.apellido}}</div>
          {% endfor %}
        </div>

        <div class="col">
          {% for materias in materia %}
          <div class="float-right"><b>Materia:</b> {{materias}}</div>
          {% endfor %}
        </div>

        <div class="col">
          {% for cursos in curso %}
          <div class="float-right"><b>Materia:</b> {{cursos}}</div>
          {% endfor %}
        </div>
      </div>




      <div class="col">
        <a class="btn btn-lg btn-warning btn-block" style="font-size: 15px; z-index: 10;"
          href="/evaluacionGame"><strong>Prueba</strong></a>
      </div>
    </div>

    <div class="text-center">
      <div class="row-3">
        <div class="col-lg-6">
          <img id='hangmanPic' src="../static/assets/Imagen/0.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div id="perder"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center" style="padding-top: 17%;">
      <p></p>
      <p id="wordSpotlight">La palabra que hay que adivinar va aquí.</p>
      <div id="keyboard"></div>

      <form action="/contador" method="post">
        {% for cont in contado %}
        <input type="text" name="nombre" value="{{cont.nombre}}" hidden>
        <input type="text" name="apellido" value="{{cont.apellido}}" hidden>
        <input type="text" name="correo" value="{{cont.correo}}" hidden>
        <input type="text" name="cedula" value="{{cont.cedula}}" hidden>
        <input type="text" name="materia" value="{{cont.materia}}" hidden>
        <input type="number" name="contador" value="{{cont.entrenamiento}}" hidden>
        {% endfor %}
        <a class="btn btn-info" href="/game" style="background-color: transparent;border-color: transparent;"><span
          class="glyphicon glyphicon-refresh" style="font-size: 45px; color: rgb(255, 0, 0);"></span></a>
        <input type="submit" class="btn">
      </form>


      
    </div>
  </div>

</body>

</html>

<script src='../static/js/hangman.js'></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}