{% extends 'formularios/registroAcademico.html' %}

{% block correctoCurso %}

<ul class="container contenedorM">
    <li>
        <div align="center" class="mensajeM" style="font-size: 12px; width: 100%;">
            <div class="modal-header">
                <h5 class="modal-title" style="padding-top: 10%; font-size: x-large; color: black !important"><strong>Operación Exitosa!</strong></h5>
                <img src="static/assets/Imagen/correctocurso.png" width="25%">
            </div>
            <div class="modal-body">
                <p style="font-size: 15px; color: black !important">Se ha registrado correctamente el curso!</p>
            </div>
            <div class="modal-footer" style="padding-right: 35%;">
                <a class="btn btn-block btn-danger" href="/registroAcademico" style="width: 50%; font-size: 15px;">Aceptar</a>
            </div>
        </div>
    </li>
</ul>

{% endblock %}